{% comment %} {% load static tailwind_tags %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>Carpe Diem</title>
    {% endblock %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% block javascript_and_css %}
      {% block css %}
        {% comment %} {% tailwind_css %} {% endcomment %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
      {% endblock %}
      {% block javascript %}
        <script defer src="https://unpkg.com/htmx.org@^1" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
      {% endblock %}
    {% endblock %}
  </head>
  <body>
    {% block content %}
      {% block nav %}
        {% include 'partials/nav.html' %}
      {% endblock %}
      {% block main %}
        <main class="container">
          <h3>Hello world!</h3>
        </main>
      {% endblock %}
    {% endblock %}
    <script src="//instant.page/5.2.0" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z" defer></script>
  </body>
</html>
