{% load django_browser_reload %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>Carpe Diem</title>
    {% endblock %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% block javascript_and_css %}
      {% block css %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
      {% endblock %}
      {% block javascript %}
        <script src="//unpkg.com/htmx.org" defer></script>
        <script src="//unpkg.com/alpinejs" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous" defer></script>
      {% endblock %}
    {% endblock %}
    {% block style %}
    {% endblock %}
  </head>
  <body>
    {% block content %}
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>{{ project_name }}</h1>
          </div>
        </div>
      </div>
    {% endblock %}
    {% django_browser_reload_script %}
  </body>
</html>
