Use `uv` as the package manager.

`just` is the command runner.

We use daisyui version 5 for the UI, which is based on tailwind version 4.

django-widget-tweaks is used to customize django form widgets.
