{
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "jinja-template",
        "quoteAttributes": false
      }
    }
  ],
  "plugins": ["prettier-plugin-jinja-template"]
}
