{{project_name}}

## Requirements

* [Just](https://github.com/casey/just)
* [Homebrew](https://brew.sh/)
* [pkgx](https://pkgx.sh)
* [NPM](https://www.npmjs.com/)


## Usage

```sh
# create .venv and install dependencies
just init
# run the development server
just runserver
# view available development recipes
just --list
```
