django~=5.0
django-widget-tweaks~=1.5
django-debug-toolbar~=4.2
django-extensions~=3.2
django-browser-reload~=1.6
whitenoise[brotli]~=6.6
django-htmx~=1.16
django-ninja~=1.1
gunicorn~=21.2
dj-database-url~=2.1
python-decouple~=3.8
psycopg2-binary~=2.9
django-allauth~=0.59
jinja2~=3.1
jinjax~=0.34
django-unfold~=0.22
djecorator~=1.0
dj_component_view~=9.0
django-jinja~=2.11
