<nav class="container">
  <ul>
    <li>
      <a href="/"><strong>Home</strong></a>
    </li>
  </ul>

  <ul>
    {% if user.is_authenticated %}
      <form action="{% url 'account_logout' %}" method="post">
        {% csrf_token %}
        <a href="#" onclick="this.closest('form').submit();">Logout</a>
      </form>
    {% else %}
      {% if '/login' not in request.path %}
        <a href="{% url 'account_login' %}">Login</a>
      {% else %}
        <a href="{% url 'account_signup' %}">Sign Up</a>
      {% endif %}
    {% endif %}
    {% if DEBUG %}
      <li>
        <details class="dropdown">
          <summary>Dev</summary>
          <ul dir="rtl">
            <li>
              <a href="/api/docs">API Docs</a>
            </li>
            <li>
              <a href="/admin">Admin</a>
            </li>
          </ul>
        </details>
      </li>
    {% endif %}
  </ul>
</nav>
