<div class="navbar bg-base-100">
  <div class="navbar-start">
    <a href="/" class="btn btn-ghost text-xl">Home</a>
  </div>
  <div class="navbar-end">
    <ul class="menu menu-horizontal px-1">
      <li class="text-lg">
        {% if user.is_authenticated %}
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
          </form>
        {% else %}
          {% if '/login' not in request.path %}
            <a href="{% url 'login' %}">Login</a>
          {% endif %}
        {% endif %}
      </li>
    </ul>
  </div>
</div>
